# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Power BI temporary files
*.pbit.tmp